# Virtual environments
venv/
env/
.venv/
ENV/

# Модели ML
models/*.pkl
*.pkl

# Кэш Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints*

# Системные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp

# Environment variables
.env
*.env

# Конфиги с чувствительными данными
config_secret.py